*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: helvetica;
    color: black;
}

body{
    background-image: url(image/01_free_subtle_textures_apple_ios_linen_texture.jpg);
    background-repeat: repeat;
}


/* ************** Iframe ************** */

.iframe{
    height: 45rem;
    width: 45rem;
    background-color: white;
    margin-left: 33%;
    margin-top: 2%  ;
}


/* ************** Meny Bokser ************** */

.home, .omOss, .kontakt, .referanser{
    height: 6rem;
    width: 14rem;
    background-color: #696969;
    z-index: 10;
    border: solid black 1px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 25%;
    font-size: 32px;
}

.home{
    top: 10%;
}

.omOss{
    top: 30%;
}

.kontakt{
    top: 50%;
}

.referanser{
    top: 70%;
}

/* ************** Logo ************** */

.image{
    width: 8rem;
    height: 8rem;
    top: 75%;
    left: 5rem;
    position: absolute;
}