*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


/*---------------------------------- Bakgrunn ----------------------------------*/

body{
    background-image: linear-gradient(to bottom right, #22c1c3, #fdbb2d);
}

/*---------------------------------- Navigasjonsbar ----------------------------------*/

.navBar{
    display: flex;
    width: 70%;
    height: 7rem;
    background-color: lightgrey;
    border-radius:0rem 0rem 1rem 1rem;
    margin-left: 15%;
}

.home{
    border-radius: 0rem 0rem 0rem 1rem;
}

.referanser{
    border-radius: 0rem 0rem 1rem 0rem;
}

.om, .kontaktOss, .home, .referanser{
    display: flex;
    height: 7rem;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.om:hover, .kontaktOss:hover, .home:hover, .referanser:hover{
    background-color: gray;
}


/*---------------------------------- Dropdown ----------------------------------*/

#kontaktOssMenu{
    height: 11rem;
    width: 17.5%;
    display: flex;
    position: absolute;
    background-image: linear-gradient(to top left, #22c1c3, #fdbb2d);
    z-index: 10;
    left: 50%;
    top: 7rem;
    border-radius: 0rem 0rem 1rem 1rem;
    border: lightgray solid 1px;
    flex-direction: column;
}

.navn{
    margin: 0.5rem;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}
